<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rent.dao.AddressMapper">
  
  <resultMap id="BaseResultMap" type="com.rent.entity.Address" >
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="SNO" jdbcType="VARCHAR" property="sno" />
    <result column="STA" jdbcType="VARCHAR" property="sta" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="TAG" jdbcType="VARCHAR" property="tag" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="ENAME" jdbcType="VARCHAR" property="ename" />
    <result column="SEX" jdbcType="VARCHAR" property="sex" />
    <result column="BIRTH" jdbcType="DATE" property="birth" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="MOBILE1" jdbcType="VARCHAR" property="mobile1" />
    <result column="PHONE1" jdbcType="VARCHAR" property="phone1" />
    <result column="FAX" jdbcType="VARCHAR" property="fax" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="QQ" jdbcType="VARCHAR" property="qq" />
    <result column="MSN" jdbcType="VARCHAR" property="msn" />
    <result column="COUNTRY" jdbcType="VARCHAR" property="country" />
    <result column="CITY" jdbcType="VARCHAR" property="city" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="ZIPCODE" jdbcType="VARCHAR" property="zipcode" />
    <result column="COMPANY" jdbcType="VARCHAR" property="company" />
    <result column="DEPT" jdbcType="VARCHAR" property="dept" />
    <result column="DUTY" jdbcType="VARCHAR" property="duty" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="REFER" jdbcType="VARCHAR" property="refer" />
    <result column="CRTID" jdbcType="VARCHAR" property="crtid" />
    <result column="CRTDATE" jdbcType="DATE" property="crtdate" />
    <result column="LOGID" jdbcType="VARCHAR" property="logid" />
    <result column="LOGDATE" jdbcType="DATE" property="logdate" />
  </resultMap>
  
  
  <sql id="Base_Column_List">
    
    ID, SNO, STA, TYPE, TAG, NAME, ENAME, SEX, BIRTH, MOBILE, PHONE, MOBILE1, PHONE1, 
    FAX, EMAIL, QQ, MSN, COUNTRY, CITY, ADDRESS, ZIPCODE, COMPANY, DEPT, DUTY, TITLE, 
    REFER, CRTID, CRTDATE, LOGID, LOGDATE
  </sql>
  
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Apr 24 14:56:49 CST 2017.
    -->
    select 
    <include refid="Base_Column_List" />
    from ADDRESS
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Apr 24 14:56:49 CST 2017.
    -->
    delete from ADDRESS
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
 
  <insert id="insert" parameterType="com.rent.entity.Address">
    insert into ADDRESS (ID, SNO, STA, 
      TYPE, TAG, NAME, ENAME, 
      SEX, BIRTH, MOBILE, PHONE, 
      MOBILE1, PHONE1, FAX, 
      EMAIL, QQ, MSN, COUNTRY, 
      CITY, ADDRESS, ZIPCODE, 
      COMPANY, DEPT, DUTY, 
      TITLE, REFER, CRTID, 
      CRTDATE, LOGID, LOGDATE)
    values (#{id,jdbcType=DECIMAL}, #{sno,jdbcType=VARCHAR}, #{sta,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{tag,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{ename,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{birth,jdbcType=DATE}, #{mobile,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{mobile1,jdbcType=VARCHAR}, #{phone1,jdbcType=VARCHAR}, #{fax,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, #{msn,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{zipcode,jdbcType=VARCHAR}, 
      #{company,jdbcType=VARCHAR}, #{dept,jdbcType=VARCHAR}, #{duty,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{refer,jdbcType=VARCHAR}, #{crtid,jdbcType=VARCHAR}, 
      #{crtdate,jdbcType=DATE}, #{logid,jdbcType=VARCHAR}, #{logdate,jdbcType=DATE})
  </insert>
  
  <insert id="insertSelective" parameterType="com.rent.entity.Address">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Apr 24 14:56:49 CST 2017.
    -->
    insert into ADDRESS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="sno != null">
        SNO,
      </if>
      <if test="sta != null">
        STA,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="tag != null">
        TAG,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="ename != null">
        ENAME,
      </if>
      <if test="sex != null">
        SEX,
      </if>
      <if test="birth != null">
        BIRTH,
      </if>
      <if test="mobile != null">
        MOBILE,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="mobile1 != null">
        MOBILE1,
      </if>
      <if test="phone1 != null">
        PHONE1,
      </if>
      <if test="fax != null">
        FAX,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="qq != null">
        QQ,
      </if>
      <if test="msn != null">
        MSN,
      </if>
      <if test="country != null">
        COUNTRY,
      </if>
      <if test="city != null">
        CITY,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="zipcode != null">
        ZIPCODE,
      </if>
      <if test="company != null">
        COMPANY,
      </if>
      <if test="dept != null">
        DEPT,
      </if>
      <if test="duty != null">
        DUTY,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="refer != null">
        REFER,
      </if>
      <if test="crtid != null">
        CRTID,
      </if>
      <if test="crtdate != null">
        CRTDATE,
      </if>
      <if test="logid != null">
        LOGID,
      </if>
      <if test="logdate != null">
        LOGDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="sno != null">
        #{sno,jdbcType=VARCHAR},
      </if>
      <if test="sta != null">
        #{sta,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="tag != null">
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="ename != null">
        #{ename,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birth != null">
        #{birth,jdbcType=DATE},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mobile1 != null">
        #{mobile1,jdbcType=VARCHAR},
      </if>
      <if test="phone1 != null">
        #{phone1,jdbcType=VARCHAR},
      </if>
      <if test="fax != null">
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="msn != null">
        #{msn,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="zipcode != null">
        #{zipcode,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="dept != null">
        #{dept,jdbcType=VARCHAR},
      </if>
      <if test="duty != null">
        #{duty,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="refer != null">
        #{refer,jdbcType=VARCHAR},
      </if>
      <if test="crtid != null">
        #{crtid,jdbcType=VARCHAR},
      </if>
      <if test="crtdate != null">
        #{crtdate,jdbcType=DATE},
      </if>
      <if test="logid != null">
        #{logid,jdbcType=VARCHAR},
      </if>
      <if test="logdate != null">
        #{logdate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rent.entity.Address">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Apr 24 14:56:49 CST 2017.
    -->
    update ADDRESS
    <set>
      <if test="sno != null">
        SNO = #{sno,jdbcType=VARCHAR},
      </if>
      <if test="sta != null">
        STA = #{sta,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="tag != null">
        TAG = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="ename != null">
        ENAME = #{ename,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        SEX = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birth != null">
        BIRTH = #{birth,jdbcType=DATE},
      </if>
      <if test="mobile != null">
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mobile1 != null">
        MOBILE1 = #{mobile1,jdbcType=VARCHAR},
      </if>
      <if test="phone1 != null">
        PHONE1 = #{phone1,jdbcType=VARCHAR},
      </if>
      <if test="fax != null">
        FAX = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        QQ = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="msn != null">
        MSN = #{msn,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        COUNTRY = #{country,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        CITY = #{city,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="zipcode != null">
        ZIPCODE = #{zipcode,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        COMPANY = #{company,jdbcType=VARCHAR},
      </if>
      <if test="dept != null">
        DEPT = #{dept,jdbcType=VARCHAR},
      </if>
      <if test="duty != null">
        DUTY = #{duty,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="refer != null">
        REFER = #{refer,jdbcType=VARCHAR},
      </if>
      <if test="crtid != null">
        CRTID = #{crtid,jdbcType=VARCHAR},
      </if>
      <if test="crtdate != null">
        CRTDATE = #{crtdate,jdbcType=DATE},
      </if>
      <if test="logid != null">
        LOGID = #{logid,jdbcType=VARCHAR},
      </if>
      <if test="logdate != null">
        LOGDATE = #{logdate,jdbcType=DATE},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rent.entity.Address">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Apr 24 14:56:49 CST 2017.
    -->
    update ADDRESS
    set SNO = #{sno,jdbcType=VARCHAR},
      STA = #{sta,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      TAG = #{tag,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      ENAME = #{ename,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=VARCHAR},
      BIRTH = #{birth,jdbcType=DATE},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      MOBILE1 = #{mobile1,jdbcType=VARCHAR},
      PHONE1 = #{phone1,jdbcType=VARCHAR},
      FAX = #{fax,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      QQ = #{qq,jdbcType=VARCHAR},
      MSN = #{msn,jdbcType=VARCHAR},
      COUNTRY = #{country,jdbcType=VARCHAR},
      CITY = #{city,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      ZIPCODE = #{zipcode,jdbcType=VARCHAR},
      COMPANY = #{company,jdbcType=VARCHAR},
      DEPT = #{dept,jdbcType=VARCHAR},
      DUTY = #{duty,jdbcType=VARCHAR},
      TITLE = #{title,jdbcType=VARCHAR},
      REFER = #{refer,jdbcType=VARCHAR},
      CRTID = #{crtid,jdbcType=VARCHAR},
      CRTDATE = #{crtdate,jdbcType=DATE},
      LOGID = #{logid,jdbcType=VARCHAR},
      LOGDATE = #{logdate,jdbcType=DATE}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>