<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rent.dao.PrHouseMapper">
  <resultMap id="BaseResultMap" type="com.rent.entity.PrHouse">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="NO" jdbcType="VARCHAR" property="no" />
    <result column="ESTATE_ID" jdbcType="DECIMAL" property="estateId" />
    <result column="BUILDING_NO_ID" jdbcType="VARCHAR" property="buildingNoId" />
    <result column="ROOM_NO" jdbcType="VARCHAR" property="roomNo" />
    <result column="ROOM_NO_ID" jdbcType="DECIMAL" property="roomNoId" />
    <result column="BUILDING_FLOOR_ID" jdbcType="DECIMAL" property="buildingFloorId" />
    <result column="ROOM_TYPE_ID" jdbcType="DECIMAL" property="roomTypeId" />
    <result column="AREA" jdbcType="DECIMAL" property="area" />
    <result column="ROOM_NUM" jdbcType="DECIMAL" property="roomNum" />
    <result column="PRICE" jdbcType="DECIMAL" property="price" />
    <result column="MONTH_PRICE" jdbcType="DECIMAL" property="monthPrice" />
    <result column="BACK_PRICE" jdbcType="DECIMAL" property="backPrice" />
    <result column="CHEAP_PRICE" jdbcType="DECIMAL" property="cheapPrice" />
    <result column="STATE" jdbcType="DECIMAL" property="state" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="master_id" jdbcType="DECIMAL" property="masterId" />
    <result column="house_Code" jdbcType="VARCHAR" property="houseCode" />
    <result column="RENTMOD" jdbcType="DECIMAL" property="rentMod" />
    <result column="MODDATE" jdbcType="DATE" property="modDate" />
    <result column="DECDATE" jdbcType="DATE" property="decDate" />
    <result column="DECMAN" jdbcType="VARCHAR" property="decMan" />
    <result column="REASON" jdbcType="VARCHAR" property="reason" />
    <result column="CREATEUSER" property="createuser" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="DATE" />
    <result column="UPDATEUSER" property="updateuser" jdbcType="VARCHAR" />
    <result column="UPDATETIME" property="updatetime" jdbcType="DATE" />
    <result column="UPDATETIME" property="updatetime" jdbcType="DATE" />
    <result column="IS_TUI" property="isTui" jdbcType="DECIMAL" />
  </resultMap>

    <resultMap id="resultMap" type="com.rent.door.HouseInfo">
        <id column="ID" jdbcType="DECIMAL" property="id" />
        <result column="DISTRICTNAME" jdbcType="VARCHAR" property="districtName" />
        <result column="UNITNAME" jdbcType="VARCHAR" property="unitName" />
        <result column="ROOMNO" jdbcType="DECIMAL" property="roomNo" />
    </resultMap>

  <sql id="Base_Column_List">
  
    ID, NO, ESTATE_ID, BUILDING_NO_ID, ROOM_NO,ROOM_NO_ID,  BUILDING_FLOOR_ID, ROOM_TYPE_ID, AREA, 
    ROOM_NUM, PRICE, MONTH_PRICE, BACK_PRICE, CHEAP_PRICE, STATE, REMARK,master_id,house_Code,RENTMOD,MODDATE
    ,DECDATE,DECMAN,REASON,createuser,createtime,updateuser,updatetime,is_Tui,associatedlock
  </sql>

    <select id="findRoomInfoById" parameterType="java.lang.Integer" resultMap="resultMap">
        select h.id,h.room_no ROOMNO,e.name DISTRICTNAME,b.name UNITNAME
        from PR_HOUSE  h left join ESTATE  e on h.estate_id=e.id left join BUILDING_NO b on h.building_no_id=b.id
        where h.id=#{houseid}
    </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
   
    select 
    <include refid="Base_Column_List" />
    from PR_HOUSE
    where ID = #{id,jdbcType=DECIMAL}
  </select>
    <select id="findMasterBySta" parameterType="java.lang.Integer" resultMap="BaseResultMap">

        select
        <include refid="Base_Column_List" />
        from PR_HOUSE
        where STA = #{id,jdbcType=DECIMAL}
    </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu May 04 11:37:29 CST 2017.
    -->
    delete from PR_HOUSE
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.rent.entity.PrHouse">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu May 04 11:37:29 CST 2017.
    -->
    insert into PR_HOUSE (ID, NO, ESTATE_ID, 
      BUILDING_NO_ID, ROOM_NO,ROOM_NO_ID, BUILDING_FLOOR_ID, 
      ROOM_TYPE_ID, AREA, ROOM_NUM, 
      PRICE, MONTH_PRICE, BACK_PRICE, 
      CHEAP_PRICE, STATE, REMARK,master_id,house_Code,RENTMOD,MODDATE,decDate,decMan,REASON,
      createuser,createtime,updateuser,updatetime,is_Tui,associatedlock)
    values (#{id,jdbcType=DECIMAL}, #{no,jdbcType=VARCHAR}, #{estateId,jdbcType=DECIMAL}, 
      #{buildingNoId,jdbcType=VARCHAR}, #{roomNo,jdbcType=VARCHAR},#{roomNoId,jdbcType=DECIMAL},
      #{buildingFloorId,jdbcType=DECIMAL}, 
      #{roomTypeId,jdbcType=DECIMAL}, #{area,jdbcType=DECIMAL}, #{roomNum,jdbcType=DECIMAL}, 
      #{price,jdbcType=DECIMAL}, #{monthPrice,jdbcType=DECIMAL}, #{backPrice,jdbcType=DECIMAL}, 
      #{cheapPrice,jdbcType=DECIMAL}, #{state,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR},
      #{masterId,jdbcType=DECIMAL},#{houseCode,jdbcType=VARCHAR},#{rentMod,jdbcType=DECIMAL},
      #{modDate,jdbcType=DATE},#{decDate,jdbcType=DATE},#{decMan,jdbcType=VARCHAR},
      #{reason,jdbcType=VARCHAR},#{createuser,jdbcType=VARCHAR},#{createtime,jdbcType=DATE},
      #{updateuser,jdbcType=VARCHAR},#{updatetime,jdbcType=DATE},#{isTui},#{associatedlock}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rent.entity.PrHouse">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu May 04 11:37:29 CST 2017.
    -->
    insert into PR_HOUSE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="no != null">
        NO,
      </if>
      <if test="estateId != null">
        ESTATE_ID,
      </if>
      <if test="buildingNoId != null">
        BUILDING_NO_ID,
      </if>
      <if test="roomNo != null">
        ROOM_NO,
      </if>
      <if test="buildingFloorId != null">
        BUILDING_FLOOR_ID,
      </if>
      <if test="roomTypeId != null">
        ROOM_TYPE_ID,
      </if>
      <if test="area != null">
        AREA,
      </if>
      <if test="roomNum != null">
        ROOM_NUM,
      </if>
      <if test="price != null">
        PRICE,
      </if>
      <if test="monthPrice != null">
        MONTH_PRICE,
      </if>
      <if test="backPrice != null">
        BACK_PRICE,
      </if>
      <if test="cheapPrice != null">
        CHEAP_PRICE,
      </if>
      <if test="state != null">
        STATE,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="no != null">
        #{no,jdbcType=VARCHAR},
      </if>
      <if test="estateId != null">
        #{estateId,jdbcType=DECIMAL},
      </if>
      <if test="buildingNoId != null">
        #{buildingNoId,jdbcType=VARCHAR},
      </if>
      <if test="roomNo != null">
        #{roomNo,jdbcType=VARCHAR},
      </if>
      <if test="buildingFloorId != null">
        #{buildingFloorId,jdbcType=DECIMAL},
      </if>
      <if test="roomTypeId != null">
        #{roomTypeId,jdbcType=DECIMAL},
      </if>
      <if test="area != null">
        #{area,jdbcType=DECIMAL},
      </if>
      <if test="roomNum != null">
        #{roomNum,jdbcType=DECIMAL},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="monthPrice != null">
        #{monthPrice,jdbcType=DECIMAL},
      </if>
      <if test="backPrice != null">
        #{backPrice,jdbcType=DECIMAL},
      </if>
      <if test="cheapPrice != null">
        #{cheapPrice,jdbcType=DECIMAL},
      </if>
      <if test="state != null">
        #{state,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rent.entity.PrHouse">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu May 04 11:37:29 CST 2017.
    -->
    update PR_HOUSE
    <set>
      <if test="no != null">
        NO = #{no,jdbcType=VARCHAR},
      </if>
      <if test="estateId != null">
        ESTATE_ID = #{estateId,jdbcType=DECIMAL},
      </if>
      <if test="buildingNoId != null">
        BUILDING_NO_ID = #{buildingNoId,jdbcType=VARCHAR},
      </if>
      <if test="roomNo != null">
        ROOM_NO = #{roomNo,jdbcType=VARCHAR},
      </if>
       <if test="roomNoId != null">
        ROOM_NO_ID = #{roomNoId,jdbcType=VARCHAR},
      </if>
      
      <if test="buildingFloorId != null">
        BUILDING_FLOOR_ID = #{buildingFloorId,jdbcType=DECIMAL},
      </if>
      <if test="roomTypeId != null">
        ROOM_TYPE_ID = #{roomTypeId,jdbcType=DECIMAL},
      </if>
      <if test="area != null">
        AREA = #{area,jdbcType=DECIMAL},
      </if>
      <if test="roomNum != null">
        ROOM_NUM = #{roomNum,jdbcType=DECIMAL},
      </if>
      <if test="price != null">
        PRICE = #{price,jdbcType=DECIMAL},
      </if>
      <if test="monthPrice != null">
        MONTH_PRICE = #{monthPrice,jdbcType=DECIMAL},
      </if>
      <if test="backPrice != null">
        BACK_PRICE = #{backPrice,jdbcType=DECIMAL},
      </if>
      <if test="cheapPrice != null">
        CHEAP_PRICE = #{cheapPrice,jdbcType=DECIMAL},
      </if>
      <if test="state != null">
        STATE = #{state,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="originState != null">
        originState = #{originState,jdbcType=DECIMAL},
      </if>
      
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rent.entity.PrHouse">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu May 04 11:37:29 CST 2017.
    -->
    update PR_HOUSE
    set NO = #{no,jdbcType=VARCHAR},
      ESTATE_ID = #{estateId,jdbcType=DECIMAL},
      BUILDING_NO_ID = #{buildingNoId,jdbcType=VARCHAR},
      ROOM_NO = #{roomNo,jdbcType=VARCHAR},
      BUILDING_FLOOR_ID = #{buildingFloorId,jdbcType=DECIMAL},
      ROOM_TYPE_ID = #{roomTypeId,jdbcType=DECIMAL},
      AREA = #{area,jdbcType=DECIMAL},
      ROOM_NUM = #{roomNum,jdbcType=DECIMAL},
      PRICE = #{price,jdbcType=DECIMAL},
      MONTH_PRICE = #{monthPrice,jdbcType=DECIMAL},
      BACK_PRICE = #{backPrice,jdbcType=DECIMAL},
      CHEAP_PRICE = #{cheapPrice,jdbcType=DECIMAL},
      STATE = #{state,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=VARCHAR},
      master_id= #{masterId,jdbcType=VARCHAR},
      house_Code=#{houseCode,jdbcType=VARCHAR},
      RENTMOD=#{rentMod,jdbcType=DECIMAL},
      MODDATE=#{modDate,jdbcType=DATE},
      DECDATE=#{decDate,jdbcType=DATE},
      DECMAN=#{decMan,jdbcType=VARCHAR},
      REASON=#{reason,jdbcType=VARCHAR},
      createuser=#{createuser,jdbcType=VARCHAR},
      createtime=#{createtime,jdbcType=DATE},
      updateuser=#{updateuser,jdbcType=VARCHAR},
      updatetime=#{updatetime,jdbcType=DATE},
      ORIGINSTATE = #{originState,jdbcType=DECIMAL},
      is_Tui=#{isTui},
      associatedlock=#{associatedlock}
  	  where ID = #{id,jdbcType=DECIMAL}
  </update>

  
    <select id="findByEstatePaged" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        SELECT * FROM PR_HOUSE where estate_id=#{0} order by id limit #{1} , #{2}
  </select>
  
  
  <select id="getCountByEstate" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    
    select 
     count(*)
    from PR_HOUSE where estate_id=#{0}
    
  </select>
  	
  	 <select id="findByConditionPaged" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
		       		SELECT * FROM PR_HOUSE where 1=1
		       		<if test="estateId!=null">
		       			<if test="estateId!=''">
		       				and estate_id=#{estateId} 
		       			</if>
		       		</if>
		       		<if test="roomtypeId!=null">
		       			<if test="roomtypeId!=-1">
		       				and	 ROOM_TYPE_ID=#{roomtypeId} 
		       			</if>
		       		</if>
		       		<if test="sta!=null">
		       			<if test="sta!=''">
		       				<if test="sta!=-1">
		       					and	 state=#{sta} 
		       				</if>
		       			</if>	
		       		</if>
		       		<if test="no!=null">
		       			<if test="no!=''">
		       			and	 no=#{no} 
		       			</if>	
		       		</if>		       		
		       		order by id 
		     		  limit #{begin} , #{end}
  </select>
  	
  	
  <select id="findByNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
   		<include refid="Base_Column_List" />
    from PR_HOUSE
    where NO = #{no,jdbcType=DECIMAL}
  </select>

    <select id="findByLock" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from PR_HOUSE
        where ASSOCIATEDLOCK = #{associatedlock,jdbcType=DECIMAL}
    </select>

    <select id="findAllLock" resultType="java.lang.String">
        select associatedlock from PR_HOUSE where associatedlock is not null
    </select>
  
  
  <select id="getHouseCountByConditionPaged" resultType="java.lang.Integer" parameterType="com.rent.condition.HouseCondition" >
    			select count(*) from PR_HOUSE where 1=1
		       		 <if test="estateId!=null">
         			    	and estate_id=#{estateId}
         			 </if>
         			  <if test="buildingNoId!=null">
		       		    	and substr(building_no_id, length(building_no_id ),1) = #{buildingNoId}
		       		  </if>
		       		  <if test="floor!=null">
           					and building_floor_id=#{floor}
           			  </if>
           			  <if test="typeId!=null">
           			  		and room_type_id=#{typeId}
           			  </if>
           			  <if test="buildingId!=null">
           			  		and building_no_id in(
           			    		select b.id from BUILDING_NO b where building_Id=#{buildingId}
	                 		)
           			  </if>
           			  
           			  <if test="houseNature!=null">
           				<if test="houseNature==1">
           					and
							   id not in(
       							  select house_id from PRH_MASTER
							   )
           				</if>
           				<if test="houseNature==2">
           					and is_tui=1
           				</if>
           				
           			</if>   
    
  </select>
  
   <!--房源管理 -崔少岩  -->
   <select id="findHouseByConditionPaged" parameterType="com.rent.condition.HouseCondition" resultMap="BaseResultMap">
        select * from PR_HOUSE
            <where>
		       		 <if test="estateId!=null">
         			    	estate_id=#{estateId}
         			 </if>
         			  <if test="buildingNoId!=null">
		       		    	and substr(building_no_id, length(building_no_id ),1) = #{buildingNoId}
		       		  </if>
		       		  
		       		  <if test="floor!=null">
           					and building_floor_id=#{floor}
           			  </if>
           			  <if test="typeId!=null">
           			  		and room_type_id=#{typeId}
           			  </if>
           			  <if test="buildingId!=null">
           			  		and building_no_id in(
           			    		select b.id from BUILDING_NO b where building_Id=#{buildingId}
	                 		)
           			  </if>
           			<if test="houseNature!=null">
           				<if test="houseNature==1">
           					and
							   id not in(
       							  select house_id from PRH_MASTER
							   )
           				</if>
           				<if test="houseNature==2">
           				and is_tui=1
           				</if>
           				
           			</if>
            </where>
          	limit #{begin} , #{end}
   			
   </select>
   
   
   
   
   
   <select id="findByCondition" parameterType="java.lang.String" resultMap="BaseResultMap">
   	 select 
   		<include refid="Base_Column_List" />
    from PR_HOUSE
   	<where>
   		
      <if test="estateId != null">
      	  ESTATE_ID = #{estateId,jdbcType=DECIMAL}
      </if>
      
      
      <if test="buildingNoId != null">
        and substr(building_no_id, length(building_no_id ),1) = #{buildingNoId}
      </if>
     
       <if test="buildingId!=null">
          	and building_no_id in(
          		select b.id from BUILDING_NO b where building_Id=#{buildingId}
            )
       </if>
      
      <if test="floor != null">
        and BUILDING_FLOOR_ID = #{floor,jdbcType=DECIMAL}
      </if>
      
      <if test="typeId != null">
        and ROOM_TYPE_ID = #{typeId,jdbcType=DECIMAL}
      </if>
      
      <if test="minArea != null and maxArea!=null">
        and AREA >= #{minArea,jdbcType=DECIMAL} and AREA &lt;= #{maxArea,jdbcType=DECIMAL}
      </if>
     
    
      <if test="minPrice != null and maxPrice!=null">
       and month_PRICE >= #{minPrice,jdbcType=DECIMAL} and month_PRICE &lt;= #{maxPrice,jdbcType=DECIMAL}
      </if>
    	
    	<if test="houseNature!=null">
			<if test="houseNature==1">
				and
				id not in(
				select house_id from PRH_MASTER
				)
			</if>
			<if test="houseNature==2"></if>
		</if>   
    
   	</where>
   		 order by building_floor_id desc,room_no_id  asc	
  </select>
  
  
  
  
   <select id="findByFileCondition"  resultMap="BaseResultMap">
    SELECT * FROM PR_HOUSE where 1=1
		       		<if test="estateId!=null">
		       			<if test="estateId!=''">
		       				and estate_id=#{estateId} 
		       			</if>
		       		</if>
		       		<if test="roomtypeId!=null">
		       			<if test="roomtypeId!=-1">
		       				and	 ROOM_TYPE_ID=#{roomtypeId} 
		       			</if>
		       		</if>
		       		<if test="sta!=null">
		       			<if test="sta!=''">
		       				<if test="sta!=-1">
		       					and	 state=#{sta} 
		       				</if>
		       			</if>	
		       		</if>
		       		and building_no_id  in
		       		(select id from BUILDING_NO 
		       		where 1=1
		       		<if test="no!=null">
		      		   	<if test="no!=''">
		      		   	and	building_id =#{no}
		      		   	</if>    	
		      		   </if>
		      		   
		       		)
		     	  	 <if test="danyuanid!=null">
		      		   	<if test="danyuanid!=''">
		      		   	and substr(building_no_id, length(building_no_id ),1) = #{danyuanid}
		      		   	</if>    	
		      		   </if>	   		
		       		order by id 
  </select>
   <select id="findByFileConditionAndPaged"  resultMap="BaseResultMap">
				   SELECT * FROM PR_HOUSE where 1=1
		       		<if test="estateId!=null">
		       			<if test="estateId!=-1">
		       				and estate_id=#{estateId} 
		       			</if>
		       		</if>
		       		<if test="roomtypeId!=null">
		       			<if test="roomtypeId!=-1">
		       				and	 ROOM_TYPE_ID=#{roomtypeId} 
		       			</if>
		       		</if>
		       		<if test="sta!=null">
		       			<if test="sta!=''">
		       				<if test="sta!=-1">
		       					and	 state=#{sta} 
		       				</if>
		       			</if>	
		       		</if>
		       		and building_no_id  in
		       		(select id from BUILDING_NO 
		       		where 1=1
		       		<if test="no!=null">
		      		   	<if test="no!=''">
		      		   	and	building_id =#{no}
		      		   	</if>    	
		      		   </if>
		      		   
		       		)
		     	  	 <if test="danyuanid!=null">
		      		   	<if test="danyuanid!=''">
		      		  and substr(building_no_id, length(building_no_id ),1) = #{danyuanid}
		      		   	</if>    	
		      		   </if>	   		
		       		order by id 
				 	limit #{begin} , #{end}
   </select>
  
  <select id="getStateById" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select 
   		state
    from PR_HOUSE
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  
   <select id="getCountByEach" resultType="java.lang.Integer" parameterType="com.rent.condition.HouseCondition">
  	select count(*) from PR_HOUSE where state=#{state}
  		<if test="estateId!=null">
  			and estate_id=#{estateId}
  		</if>
  		<if test="buildingNoId!=null">
  			and substr(building_no_id, length(building_no_id ),1) = #{buildingNoId}
  		</if>
  		<if test="buildingId!=null">
  		and building_no_id in(
      		select b.id from BUILDING_NO b where building_Id=#{buildingId}
  		)
  		</if>  
  </select>
  <select id="getCurrId" resultType="java.lang.Integer">
  	/*select seq_pr_house.nextval from dual*/
  	SELECT id  FROM PR_HOUSE ORDER BY id DESC LIMIT 1
  </select>
  
      <select id="findByHouseRmdevCondition" parameterType="com.rent.condition.HouseRmdevCondition" resultMap="BaseResultMap">
  		select * from
  		PR_HOUSE
  		where 1=1
  		<if test="danyuanid!=null">
  			<if test="danyuanid!=''">
  				and substr(building_no_id, length(building_no_id ),1) = #{danyuanid}
  			</if>
  		</if>
  		<if test="roomtypeId!=null">
  			<if test="roomtypeId!=''">
  				and room_type_Id=#{roomtypeId}
  			</if>
  		</if>
  		<if test="estateId!=null">
  			<if test="estateId!=''">
  				and estate_Id=#{estateId}
  			</if>
  		</if>
  		
  		 
  </select>
   <select id="findPlanHouse"  resultMap="BaseResultMap">
  	 	select * from PR_HOUSE  where decdate is not null
   </select>


 <select id="findByFileCondition2" resultMap="BaseResultMap"
	parameterType="com.rent.condition.HouseFileContion">
	select * from PR_HOUSE where 1=1
	<if test="roomtypeId!=null">
		<if test="roomtypeId!=-1">
			and room_type_id=#{roomtypeId}
		</if>
	</if>
	<if test="danyuanid!=null">
		<if test="danyuanid!=''">
			
			and substr(building_no_id, length(building_no_id ),1) = #{danyuanid}
		</if>
	</if>
	and building_no_id in (select id from BUILDING_NO where
	1=1
	<if test="no!=null">
		<if test="no!=''">
			and building_id=#{no}

		</if>
	</if>
	)
	<if test="sta!=null">
		<if test="sta!=''">
			and state =#{sta}
		</if>
	</if>
	<if test="estateId!=null">
		<if test="estateId!=''">
			and estate_id=#{estateId}
		</if>
	</if>
</select>
  
   
     <select id="findByFileConditionAndPaged2"  resultMap="BaseResultMap">
   select * from PR_HOUSE where 1=1
  		<if test="roomtypeId!=null">
  			<if test="roomtypeId!=-1">
   				and  room_type_id=#{roomtypeId}
   			</if>
  		</if>
  		<if test="danyuanid!=null">
  			<if test="danyuanid!=''">
  		 
  		 and substr(building_no_id, length(building_no_id ),1) = #{danyuanid}
   
   		</if>
  		</if>
  		and building_no_id in (select id from BUILDING_NO where 
  		1=1
  		<if test="no!=null">
  			<if test="no!=''">
  	 				and 	building_id=#{no}
  	 				
  	 				
  				</if>
  		</if>)
			<if test="sta!=null">
  			<if test="sta!=''">
		and state =#{sta}
		</if>
  		</if>
  		<if test="estateId!=null">
  			<if test="estateId!=''">
  			and estate_id=#{estateId}
  		</if>
  		</if> order by id asc limit #{begin} , #{end}
  </select>
  
  
  <select id="findByBuildingNo"  resultMap="BaseResultMap" parameterType="java.lang.String">
  	 	select *　from PR_HOUSE where building_no_id=#{buildingNoId}
   </select>
 
</mapper>